.page2{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   
   background-image: url('./pexels-fwstudio-33348-129731.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   backdrop-filter: blur(10px);
   


}.page2 .section2 h1 ,.page2 .section2 p{
   text-align: center;
   color: white;
}#video2{
   filter: brightness(1) contrast(1);
}